body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.2em 1em;
}

nav {
    background-color: #eee;
    padding: 1em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px; /* Adjusted margin for equal spacing */
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #555555;
}

/* make the image logo circled */
img#logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: left;
}


